html,
body {
  box-sizing: border-box;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.bg-top {
  text-align: center;
  position: relative;
  z-index: -1;
  padding: 20px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    ),
    url("wallpaper-laptop2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.profile-img {
  height: auto;
  width: 150px;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.greetings {
  position: relative;
  text-align: center;
  margin-top: -20px;
  padding: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}

.text-h1 {
  color: black;
  font-weight: bold;
  word-wrap: break-word;
  height: 80px;
  max-height: 100px;
}

.text-h5 {
  color: #555555;
  font-weight: medium;
}

.links {
  margin-top: -20px;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -20px;
  position: relative;
}

.footer-area {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 0px;
}
